<% provide(:title, "reddit: the front page of the internet") %>
<h1>Welcome to 4chan</h1>
<h2>top kek</h2>

<% if logged_in? %>
  <%= link_to "Log out", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", signup_path %>
<% end %>

<% unless logged_in? %>
  <%= form_for(:session, url: login_path) do |f| %>

    <%= f.text_field :email, placeholder: 'email' %>

    <%= f.password_field :password, placeholder: 'password' %>

		<%= f.label :remember_me, class: "checkbox inline" do %>
    	<%= f.check_box :remember_me %>
    	<span>Remember me on this computer</span>
    <% end %>

    <%= f.submit "log in" %>

  <% end %>
<% else %>
  <section>
    <%= render @subreddit %>
  </section>
  <ol class="redditposts">
    <%= render Redditpost.all %>
  </ol>
<% end %>
