<% provide(:title, "reddit: the front page of the internet") %>
<h1>Welcome to Reddit</h1>
<% unless logged_in? %>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :email, placeholder: 'email' %>
    <%= f.password_field :password, placeholder: 'password' %>
    <%= f.submit "log in" %>
  <% end %>
<% else %>
  <section class="redditpost_form">
    <%= render 'shared/redditpost_form' %>
  </section>
<% end %>
