<section>
  <%= render @redditpost %>
  <% if logged_in? %>
    <%= form_for :comment, url: {controller: :comments, action: :create} do |f| %>
      <%= f.text_area :content, placeholder: "Post a new comment" %>
      <%= f.submit "Post comment" %>
    <% end %>
  <% end %>
  <%= render @redditpost.comments %>
</section>
